<html>
  <head>
    <title>CommentApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/myApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body np-app="myApp">
    <div id='main' class="container" ng-controller="mainController">
        <nav class="navbar-fluid navbar-default navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="main.html"> Comment! </a>
				<p class="navbar-right navbar-text"><a href="login.html">Login</a> or <a href="register.html">Register</a></p>
			</div>
		</nav>
        <div class="col-md-offset-2 col-md-8">
            <div class="clearfix">
                <form ng-Submit="comment()">
                    <h2>Comment!</h2>
                    <input required type="text" class="form-control" placeholder="Your name" ng-model="newComment.author"/>
                    <input required type="text"  class="form-control" placeholder="Title" ng-model="newComment.title" /> 
                    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Your comment" ng-model="newComment.text"></textarea>
                    <input class="btn submit-btn pull-right" type="submit" value="Comment!" />
                </form>
                <div id="comment-stream">
                    <h4>Other comments</h4>
                        <div class="comment" ng-repeat="comment in comments | orderBy:'when':true" ng-class-odd="'odd'" ng-class-even="'even'">
                             <p>{{comment.text}}</p>
                            <small>Posted by @{{comment.author}}</small>
                            <small class="pull-right">{{comment.when | date:"h:mma 'on' MMM d, y"}}</small>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>